<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> SEMPRE BELLA</title>

  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body>



    <div class="login-container">
        <h1>Login</h1>
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Usuário" required>
            <input type="password" name="password" placeholder="Senha" required>
            <button type="submit" ><a href="/menu.html"> Entrar </a></button>
        </form>
    </div>
</body>
</html>
