<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> SEMPRE BELLA</title>

  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body>

  <div class="menu-container">
    <h1>Menu Principal</h1>
    <ul>
        <li><a href="/caixa">Abrir e fechar caixa</a></li>
        <li><a href="/cadastrar_venda">Cadastrar Venda</a></li>
        <li><a href="/cadastrar_produto">Cadastrar Produto</a></li>
        <li><a href="/consultar_produto">Consultar Produto</a></li>
        <li><a href="/consultar_vendas">Consultar Vendas</a></li>
        <li><a href="/relatorio_vendas">Emitir Relatório de Vendas</a></li>
        <li><a href="/relatorio_caixa">Emitir Relatório de Caixa</a></li>
        <li><a href="/logout">Sair</a></li>
    </ul>
</div>
</body>
</html>
